body{
    font-family:SFProDisplay-Regular, Helvetica, Arial, sans-serif;
    background-color: #ffffff;
    color: #000000;
    margin:0;
}
header {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: white;
    display: flex;
    justify-content: space-between; /* Aligns items on both ends */
    align-items: center;
    margin-top:0.36vw;
}
.logo img{
    width:5.99vw;
    height:4.39vw;
    margin-right:2.52vw; /* Adds some space between the logo and the nav links */
}
.nav{
    background-color:#264d73;
    display:flex;
    align-items:center;
}
.nav a{
    float:left;
    display:block;
    color:white;
    text-align:center;
    padding:1.24vw 3.2vw;
    cursor:pointer;
    font-size:1.15vw;
    text-decoration:none;
}
.nav a:hover{
    background-color:#336699;
    color:black;
}
.nav a.active{
    background-color:#6699cc;
    color:black;
}
h1,h2,h4,p{
    text-align:center;
}
h1 {
    font-size: 2.2vw;
}

h2 {
    font-size: 1.7vw;
}

h4 {
    font-size: 1.2vw;
}
p{
    font-size:1.18vw;
}
.grid-container1{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    padding: 0.73vw;
    background-color: #d6d6d6;;
    column-gap: 0.37vw;
    text-align: left;
    justify-content: space-evenly; /* Adjust content spacing */
}
.grid-item1{
    color: black;
    text-align: justify;
    font-size:1.18vw;
    padding: 2.19vw;
    display: flex;
    flex-direction: column;
    border:0.73vw solid white;
}
.grid-item1 img{
    width:1.83vw;
    height:1.80vw;
}
#user{
    font-size:1.18vw;
    font-weight:bold;
    text-align:left;
}
button {
    width: 10vw; /* Adjust the width as per your design needs */
    padding: 0.5vw; /* Provides padding relative to the viewport width */
    font-size: 1.5vw;
    border-radius: 1vw; /* Makes the border-radius responsive */
    background-color:#336699;
    color:white;
    border-color:80aaff;
}
hr {
    width: 50%;
    margin-top: 0;
    margin-bottom: 1vw;
    height: 0.14vw;
    color: #003d66;
    background-color: #003d66;
}
.grid-container2{
    display:flex;
    grid-template-columns:auto auto;
    flex-wrap: wrap; /* Allow items to wrap onto multiple lines */
    justify-content: center; /* Center items horizontally */
    align-items: flex-start; /* Align items to the top of the container */
    padding: 6.02vw 4.09vw;
    gap: 2.32vw;
    margin-top: 0vw;
    margin-left: 6.58vw;
    margin-right: 6.58vw;
    background-color: #d6d6d6;
}
.grid-item2 {
    flex: 1 1 40%; /* Allow items to grow and shrink to maintain layout */
    max-width: 100%; /* Ensure items don't exceed the container width */
    padding: 0 1rem; /* Adjust padding as needed */
    text-align: center;
}
.grid-item2 img{
    width:56.28vw; 
    height:33.21vw;
    float:right;
    max-width: 100%;
}
.grid-item2 h3{
    font-size:2.56vw;
    margin-bottom: 1rem;
}
.grid-item2 p{
    font-size:1.18vw;
    line-height: 1.5;
    text-align:justify;
}
#name,#email {
    width: 50%; /* Adjust width as needed */
    padding: 0.5vw; /* Adjust padding as needed */
    font-size: 1.08vw;
    border: 1px solid #ccc; /* Add border for clarity */
    border-radius: 0.5vw; /* Add border radius for rounded corners */
    box-sizing: border-box; /* Ensure padding and border are included in the width */
    margin-bottom: 0.4vw; /* Add some margin between the input fields */
    width: 30.90vw;
    height: 2.25vw;
}
#subscriptionForm label {
    font-size: 1.28vw;
}
footer{
    margin-top:1.46vw;
    margin-bottom:-5.85vw;
}
.grid-container3{
    display:grid;
    grid-template-columns:auto auto auto auto;
    grid-template-rows:auto auto;
    gap:1.2vw;
    padding:4.8vw;
    background-color:black;
    margin-top:1.2vw;
    padding-bottom:0vw;
    padding-top:0.6vw;
    font-family: 'sfprodisplay-regular', 'Helvetica', 'Arial', sans-serif;
}
.grid-item3{
    padding-top:1.2vw;                
    color:white;
    font-size:0.98vw;
}
.grid-item3 a{
    text-decoration:none;
    color:white;
}
#foot{
    font-weight:bold;
    font-size:1.18vw;                   	
}
.contact-info img.rounded-icon{
    border-radius:50%;
    width:1.56vw;
    height:1.56vw;
    margin-top:0.6vw;
    margin-right:0.6vw;
    overflow:hidden;
}
.social-media-container{
    display:flex;
    align-items:center;
    justify-content:center;
    padding-top:0;
}
.social-icons{
    list-style:none;
    padding:0vw;
    margin:0.52vw;
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius:0.52vw;
    padding:0vw;
}
.social-icons li{
    margin:0.26vw;
}
.social-icons a{
    display:inline-block;
    width:2.08vw;
    height:2.08vw;
    border-radius:50%;
    overflow:hidden;
    border:0.16vw solid white;
}
.social-icons img{
    width:100%;
    height:100%;
    object-fit:cover;
}
.editors-page{
    text-align:right;
    padding-right:1.24vw; 
    padding-top:1.7vw;        
    }
.editors-page a{
    text-decoration:none;
    color:inherit; /*Ensures the link color remains the same as the surrounding text*/
}
.dropdown-container {
    clear: both; /* Clear floats */
    text-align: right;
    padding:1.46vw; /* Add some spacing */
}
.color-dropdown, .text-color-dropdown {
    display: inline-block; /* Display dropdowns inline */
    margin-left:0.73vw; /* Add some space between the dropdowns */
}
.color-dropdown {
    position:absolute;
    top:5.27vw;
    right:0.36vw;
    z-index:999;
}
.text-color-dropdown {
    position:absolute;
    top:7.68vw;
    right:0.36vw;
    z-index:999;
}
.color-dropdown label, .text-color-dropdown label {
    display:block;
    font-weight:bold;
    margin-bottom:0.07vw;
    font-size:0.87vw;
    color:#003d66;
}
.color-dropdown select, .text-color-dropdown select {
    padding:0.07vw;
    border-radius:0.07vw;
    font-size:0.73vw;
}
.star {
    color: white; /* Default color for unfilled stars */
}

.star-filled {
    color: yellow; /* Change to yellow for filled stars */
}